@model IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Currency Converter</h1>
    <form id="convertForm" method="post" asp-controller="Home" asp-action="Index">
        <div class="form-row">
            <div class="form-group">
                <label for="source">Source</label>
                <select id="source" name="source" class="form-control">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="JPY">JPY</option>
                    <option value="GBP">GBP</option>
                    <option value="AUD">AUD</option>
                </select>
            </div>
            <div class="form-group">
                <label for="target">Target</label>
                <select id="target" name="target" class="form-control">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="JPY">JPY</option>
                    <option value="GBP">GBP</option>
                    <option value="AUD">AUD</option>
                </select>
            </div>
            <div class="form-group">
                <label for="value">Value</label>
                <input id="value" name="value" class="form-control"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Convert</button>
    </form>
    <label>Result:</label>
    <p id="resultLabel">@Model.Result</p>
</div>

<partial name="_History" model="Model.Conversions"/>